#
# radieschen
#
# Copyright (C) 2025   darix
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
#

{{ salt['slsutil.banner']() }}
#
# LICENSED UNDER AGPL 3.0
#
# copy /etc/apparmor.d/redis.d/sentinel.template to
#      /etc/apparmor.d/redis.d/sentinel.<instancename>
#
# The paths have to match /etc/redis/sentinel-<instancename>.conf
#
include <tunables/global>
# profile redis-sentinel.template flags=(attach_disconnected) {
#   include <abstractions/redis>
#
#   /{var/,}run/redis/sentinel-template.pid rwlk,
#   /etc/redis/sentinel-template.conf rw,
#   /var/lib/redis/ r,
#   /var/log/redis/sentinel-template.log rw,
# }