redis:
  instances:
    discourse:
      config:
        port: 6379
    forgejo:
      config:
        port: 6380
        dir: /var/lib/redis/gitea
        bind:
          - "127.0.0.1"
          - "-::1"