redis:
  # optional redis|valkey
  # redis_implementation: redis
  instances:
    # this will remove an instance with all pieces but the datadir
    default:
      enable: False
    discourse:
      config:
        port: 6379
    forgejo:
      require_in:
        - forgejo_service
      require:
        - step_generic_host_cert
      config:
        port: 6380
        dir: /var/lib/redis/gitea
        bind:
          - "127.0.0.1"
          - "-::1"