{{ salt['slsutil.banner']() }}

include /etc/{{ redis_implementation }}/includes/{{ redis_implementation }}.defaults.conf

dir {{ dir }}
pidfile {{ pidfile }}
logfile {{ logfile }}

{%- for key, value in pillar.redis.instances[instance_name]["config"].items() %}
    {%- if not key in ["dir", "logfile", "pidfile", "user"] %}
        {%- if value is list %}
{{ key }} {{ value|join(" ") }}
        {%- else %}
{{ key }} {{ value }}
        {%- endif %}
    {%- endif %}
{%- endfor %}
{%- if "user" in pillar.redis.instances[instance_name]["config"] %}
            {%- for line in pillar.redis.instances[instance_name]["config"]["user"] %}
user {{ line }}
            {%- endfor  %}
{%- endif %}