{{ salt['slsutil.banner']() }}

include /etc/{{ redis_implementation }}/includes/sentinel.defaults.conf

{%- for key, value in pillar.redis_sentinel[instance_name]["config"].items() %}
    {%- if value is string %}
{{ key }} {{ value }}
    {%- else %}
        {%- for line in value %}
{{ key }} {{ line }}
        {%- endfor  %}
    {%- endif %}
{%- endfor %}